.user {
  display: flex;
  align-items: center;
  font-family: Roboto; }

.avatar {
  margin-left: 16px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.avatar:hover {
  cursor: pointer; }
